@if(detailsProduct)
{
<section class="pt-16">
  <h1 class="text-green-500 text-center text-4xl">Details Product</h1>
  <div class="parent-details">

    <div class="parent-img">
      <img [src]="detailsProduct.imageCover" [alt]="detailsProduct.title">
    </div>

    <div class="px-4">
      <h2 class="text-2xl">{{detailsProduct.title}}</h2>
      <p class="text-gray-400 text-2xl">{{detailsProduct.description}}</p>

      <h3 class="text-2xl py-2">{{detailsProduct.category.name}}</h3>
      <div class="flex justify-between items-center">
        <span class="py-2 text-2xl">{{detailsProduct.price}}EGP</span>
        <div class="flex items-center py-2">
          <i class="fas fa-star text-yellow-300 text-xl"></i>
          <span class="text-gray-500 text-xl">{{detailsProduct.ratingsAverage}}</span>
        </div>
      </div>
      <button (click)="AddProduct(detailsProduct._id)"
        class="focus:outline-none w-full text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">+Add
        to cart</button>
    </div>
  </div>
</section>
}
